/.vscode
/release
/Contracts
bin/Debug/net7.0/BlockChainTracer.deps.json
bin/Debug/net7.0/BlockChainTracer.dll
bin/Debug/net7.0/BlockChainTracer.exe
bin/Debug/net7.0/BlockChainTracer.pdb
bin/Debug/net7.0/Microsoft.Data.Sqlite.dll
bin/Debug/net7.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net7.0/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net7.0/SQLitePCLRaw.core.dll
bin/Debug/net7.0/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Debug/net7.0/runtimes/browser-wasm/nativeassets/net7.0/e_sqlite3.a
bin/Debug/net7.0/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-mips64/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-s390x/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/net7.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
bin/Debug/net7.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
bin/Debug/net7.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
bin/Debug/net7.0/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/net7.0/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/net7.0/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/net7.0/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/net7.0/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/net8.0/BlockChainTracer.dll
bin/Debug/net8.0/BlockChainTracer.exe
bin/Debug/net8.0/BlockChainTracer.pdb
bin/Debug/net8.0/settings.json
obj/BlockChainTracer.csproj.nuget.dgspec.json
obj/BlockChainTracer.csproj.nuget.g.props
obj/BlockChainTracer.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/BlockChainTracer.AssemblyInfo.cs
obj/Debug/net7.0/BlockChainTracer.AssemblyInfoInputs.cache
obj/Debug/net7.0/BlockChainTracer.assets.cache
obj/Debug/net7.0/BlockChainTracer.csproj.AssemblyReference.cache
obj/Debug/net7.0/BlockChainTracer.csproj.CopyComplete
obj/Debug/net7.0/BlockChainTracer.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/BlockChainTracer.csproj.FileListAbsolute.txt
obj/Debug/net7.0/BlockChainTracer.dll
obj/Debug/net7.0/BlockChainTracer.genruntimeconfig.cache
obj/Debug/net7.0/BlockChainTracer.pdb
obj/Debug/net7.0/ref/BlockChainTracer.dll
obj/Debug/net7.0/refint/BlockChainTracer.dll
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/BlockChainTracer.AssemblyInfo.cs
obj/Debug/net8.0/BlockChainTracer.AssemblyInfoInputs.cache
obj/Debug/net8.0/BlockChainTracer.assets.cache
obj/Debug/net8.0/BlockChainTracer.csproj.FileListAbsolute.txt
obj/Debug/net8.0/BlockChainTracer.dll
obj/Debug/net8.0/BlockChainTracer.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/BlockChainTracer.pdb
obj/Debug/net8.0/ref/BlockChainTracer.dll
obj/Debug/net8.0/refint/BlockChainTracer.dll
